**/..git/*
__pycache__/
.DS_Store
._.DS_Store
.ipynb_checkpoints/
.vscode/
*.egg-info/
.pytest_cache
*.ipynb_checkpoints/
_site/
*.egg-info/
.empty/
*.ipynb_checkpoints
.ipynb_checkpoints/
.pytest_cache/
.vscode/
__pycache__/
build/
dist/
.DS_Store
._.DS_Store
**/..git/*
